#__next{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.93) 55.56%, rgba(0, 0, 0, 0.7905) 78.47%, rgba(0, 0, 0, 0.558) 100%);
  border: 1px solid rgba(0, 0, 0, 0.74);
}
.footer{
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.26)rgba(0, 0, 0, 0.5))
}